.App {
  text-align: center;
}

.Nav {
  color: pink;
}

.Navigation {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: rgb(9, 9, 216);
  color: white;
}